<!-- <div class="card">
    <div class="imgBox">
        <div class="bark"></div>
        <img src="https://image.ibb.co/fYzTrb/lastofus.jpg">
    </div>
    <div class="details">
        <h4 class="color1">You're not a Fossil! (YET)</h4>
        <h4 class="color2 margin">(HAPPY BIRTHDAY)</h4>
        <p>Dear Dad,</p>
        <p>Let's see.. .</p>
        <p>You’re never around, you</p>
        <p>hate the music I’m into, you</p>
        <p>practically despise the movies I</p>
        <p>like, and yet somehow you still</p>
        <p>manage to be the best dad every year.</p>
        <p>How do you do that? :)</p>
        <p class="text-right">Happy Birthday, papa!</p>
        <p class="text-right">♥Sarah</p>
    </div>
</div> -->
<app-grids [page]="'testimonials'" (navLinkClickAction) = "onNavEvent($event)"></app-grids>

<div class="testimonials-container">
  <!-- <app-grids></app-grids> -->
  <div class="trap"></div>
  <div class="trap"></div>
  <div class="trap"></div>
  <div class="trap"></div>
  <div class="trap"></div>

  <!-- <div class="trap"></div>
  <div class="trap"></div>
  <div class="trap"></div>
  <div class="trap"></div> -->
  <div class="book">
    <div class="page cover"></div>
    <div class="page">
      <p>
        "Rincy is a very hard working , dedicated and friendly person. She has a
        very good knowledge in UI and RWD concepts. She managed to learn Angular
        JS and started to work independently with in a short time span. I
        recommend her to every one who want to work with a skilled and
        passionate front-end developer." Malini Ramachandran, Senior Associate
        at Cognizant
      </p>
    </div>
    <div class="page">
      <p>
        "Rincy worked with Dunamis as a front end developer. She was able to
        handle multiple project simultaneously with comfort. She picked up new
        technologies with eagerness. She was able to lead the rest of the team
        in adopting latest features in Angular and Ionic. She is responsible and
        willing to go the extra mile in getting things done. She is pleasant to
        work with and is persistent & patient with parts of the business that is
        stubborn!" Joshua Samuel Founder, Dunamis.io
      </p>
    </div>
    <div class="page">
      <p>
        "I would like to recommend Rincy here as I am very much impressed by her
        commitment to delivery. I have worked multiple projects with her, and in
        every project I have seen her dedication, perfection and continuously
        improving herself. She is always ready to help others and very up to
        date in technology. Keep it up" Deepak Davis Front-end developer at
        Cognizant
      </p>
    </div>
    <div class="page">
      <p>
        "Rincy joined my team as a junior member and, to our surprise, was very
        productive from day one. She has very good technical awareness and
        excellent ability to understand things, let it be technology or business
        ideas. Her persistence, once she starts at something, that alone will
        make her a most valued member of any team. With all that workmanship,
        she has a very beautiful character, and a personality that brings a
        layer of humbleness to anything that she does. I will recommend Rincy
        for any technology/developer roles that matches. " Sudev Krishnan
        Solutions Architect | Full Stack Developer at Cognizant
      </p>
    </div>
    <!-- 
    <div class="page"></div>
    <div class="page"></div> -->
  </div>
</div>

<!-- <p>Move mouse cursor from left to right/ right to left.</p> -->
